<%= stylesheet_link_tag 'styles.css' %>
<h1>Hello these are our users</h1>
<div id="container">
  <% @users.each do |user| %>
  <div id="data-cont">
    <img src="<%= user.photo %>">
    <div id="details">
    <p><%= user.name %></p>
    <p id='no'>Number of Posts: <%= user.posts_counter %></p>
    </div>
  </div>
  <% end %>
</div>

