<div id="container">
  <div id="data-cont">
    <img src="<%= @user.photo %>">
    <div id="details">
    <p>User: <%= @user.name %></p>
    <p id='no'>Number of Posts: <%= @user.posts_counter %></p>
    </div>
  </div>
</div>
