<h1>Selected user</h1>
<div id="container">
<div id="data-cont">
    <img src="<%= @user.photo %>">
    <div id="details">
    <p><%= @user.name %></p>
    <p id='no'>Number of Posts: <%= @user.posts_counter %></p>
    </div>
  </div>
</div>
