img {
  border-radius: 50%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#user-data {
  width: 100%;
}

#data-count {
  width: 50%;
}

#user-data {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  border-radius: 20px;
  padding: 1.5rem;
  margin: 1rem;
}

#no {
  align-self: flex-end;
}

/* posts */
#posts {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
}

#comm-img {
  width: 15%;
}

.com-txt {
  white-space: pre-wrap;
}

#posts h3 {
  margin: auto;
}

#each-post {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}



