.container {
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.field input[type="email"],
.field input[type="password"],
input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 2rem;
}
